@import "../../colors.scss";

.price {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 12px;
}
.price h4 {
    font-size: 14px;
    font-weight: 500;
}
.price p {
    font-size: 11px;
    font-weight: 400;
}

.wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}


.container {
    width: 498px;
    height: 45px;
    border: 1px solid $primarycolor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.container input {
    width: 400px;
    line-height: 21px;
    border: none;
    padding-left: 5px;
}
.container input:focus {
    outline: none;
}
.container img {
    padding-left: 16px;
}
.container button {
    border: none;
    padding: 14px 24px;
    background-color: #00B207;
    border-radius: 6px;
    color: #fff;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.heart {
    display: flex;
    gap: 16px;
}