.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    padding-top: 60px;
}

.container h3 {
    font-size: 32px;
    color: #1A1A1A;
}